body{
    background:#eee;
}

nav{
    position: relative;
    background:#222;
    height:40px;
    z-index:900;
    display: flex;
    align-items: center;
}
nav ul{
    position: relative;
    left:-20px;
    margin-top:auto;
    margin-bottom:auto;
    display: flex;
    list-style: none;
}
nav ul li{
    border-radius:2px;
    padding:6px;
    width:auto;
    margin:0 0.5vw 0 0.5vw;
    
}
nav ul li a{
    color:#fff;

}
nav ul li a:hover{
    color: #777;
    text-decoration: none;
}
nav ul .active{
    background: cadetblue;

}