body{
    background:#ccc;
    
}


section{
    position: relative;
    
    width:100vw;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
    border-top:2px #000 solid;
}
section p{
    position:absolute;
    width:100px;
    margin-left:10px;
    
}
section p::first-letter{
    font-size:220%;
    font-weight: lighter;
    
}
section #certificate{
    position:absolute;
    margin-top:7px;
    font-size: smaller;
}
section #plus{
    font-size: smaller;
    position:absolute;
    margin-top:18px;
    color:#70b5eb;
}

.right{
    float:right;
    margin-top:20px;
    padding-right:1.5vw;
    width:auto;
}
.nav-item{
    list-style:none;
    display:inline;
    margin-right:2vw;
}
.nav-item a{
    color:#000;
    margin-left:0px;
    
}

.center{
    position: relative;
    text-align:center;
    padding-top:150px;

}
#header{
    margin-bottom:20px;
}


.fullname{
    background:#98c9ee;
width:50%;
height:35px;
border-radius:8px;
border:2px solid rgba(13, 13, 241, 0.685);
    text-align: center;
margin-top:15px;
}
.button1{
    width:130px;
    height:30px;
    background:rgba(29, 132, 216, 0.781);
    border-color:rgba(29, 132, 216, 0.781);
margin-top:20px;
margin-bottom:20px;
border-radius:6px;

}
.btn{
    background:rgba(29, 132, 216, 0.781);
    border-color:rgba(29, 132, 216, 0.781);
}
.btn:hover{
    background:blue;

}
.button1:hover{
    background:blue;
}
.button1 a{
    text-decoration: none;
    color:#fff;
}
.col-sm-7 {
    background:transparent;
	position: absolute;
	top:-20px;
	width:60%;
	height:500px;
	left:5vw;
}
.col-sm-7 h3{
    font-weight: bolder;
    font-size:xxx-large;
    margin-top:70px;
	
}
#second-h3{
    margin-top:-5px;
}
.col-sm-7 h5{
	color:#fff;
	font-weight: 600;

    opacity:0.7;
    padding-top:0px;
	padding-bottom:0px;

}
.col-sm-7 button{
	margin-bottom:50px;
}
.col-sm-7 button h6{
	margin:5px 20px 5px 20px;
	opacity:0.6;
}


.col-sm-5{
	background:transparent;
	position: absolute;
	right:0;
	top:0;
	width:60%;
	height:50vw;
	padding-top:6vw;
}
.col-sm-5 img{
	background:transparent;
	position:absolute;
	width:80%;
	height:260px;
	top:6px;
	right:0;
	
	opacity:0.5;
}

#img{
    top:-10px;
    width:40vw;
    height:60vw;
}

#inner{
	position: relative;
	top:20px;
	margin:0;
	height:300px;
	overflow:hidden ;/*overflow:auto changes to scroll
	 or hidden(or any other overflow property) on its own*/
	
}

form h5{
    margin-top:30px;
}

#drag-drop{
    background:#98c9eea1;
    
    position: relative;
    text-align:center;
    height:150px;
    width:50%;
    border:2px dashed rgba(13, 13, 241, 0.685);
    z-index:2;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
    display:inline-flex;
    align-items: center;
    
}

#drag-drop i{
    width:100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    
}
#file-upload{
    opacity:0.1;
}
#drag-drop i label{
    position:relative; 
    font-size: large;
}

#social1{
	background-color:#6b00bd;
	border:2px solid #6b00bd;
	margin-right: 30px;

}
#social2{
	background-color:#1a1aff;
	border:2px solid #0000f0;
	margin-right: 30px;

}
#social3{
	background-color:#fff;
	border:2px solid #cccccc;
	margin-right: 30px;
}

#social3 i{
	color:red;
}

label{
    display:block;
}
input{
    margin-bottom:20px;
}
#line{
    display:inline;
}

#welcome{
    font-weight: bolder;
}

@media screen and (min-width:630px){
    .center{
        position: relative;
        text-align:center;
        padding-top:50px;
    
    }
    
    #inner{
	position: relative;
	top:20px;
	margin:0;
	height:450px;
	overflow:hidden ;/*overflow:auto changes to scroll
	 or hidden(or any other overflow property) on its own*/
	
    }

    .col-sm-7{
        background:transparent;
        margin-top:70px;
    }
    .col-sm-5{
        background:transparent;
        position: absolute;
        right:0;
        top:0;
        width:50%;
        height:70vw;

    }
    .col-sm-5 img{
        background:transparent;
        position:absolute;
        width:80%;
        height:70vw;
        top:-2vw;
        right:4vw;
        
        opacity:0.8;
    }
    #img{
        top:0px;
        width:40vw;
        height:50vw;
    }
    

}


/*copied*/

@media screen and (max-width:450px){
      .col-sm-7 h3{
    font-weight: bolder;
    font-size:5vw;
    margin-top:70px;
	
    }
    .nav-item a{
    color:#000;
    margin-left:0px;
    font-size: smaller;
    
    }
   .btn{
        background:rgba(29, 132, 216, 0.781);
        border-color:rgba(29, 132, 216, 0.781);
        width:45px;
        height:30px;
        font-size:xx-small;
   }
    
}

